{% include 'block.html' %} 
    {% block subcontent %} 
        {% if resources!=None %}
            <div class="row m-5">
                {% for resource in resources %} 
                    {% set class = classes | random %}
                    <div class="col-lg-4 col-sm-12">
                        <div class="card bg-{{class}}">
                            <div class="card-body">
                                <h4 class="card-title">{{resource[1]}}</h4>
                                <span class="fa fa-tag"></span> 
                                {% for tag in resource[3].split(', ') %}
                                <a href="/search/tags?q={{tag.lower()}}">
                                    <span class="badge rounded-pill bg-light text-dark m-2">{{tag}}</span> 
                                </a>
                                {% endfor %}
                                <div class="divider"></div>
                                <span class="fa fa-map-marker"></span> 
                                <a href="/search/locations?q={{resource[4]}}">
                                    <span class="badge bg-light text-dark m-2 text-capitalize">{{resource[4]}}</span> 
                                </a>
                            </div>
                            <div class="card-footer text-center">
                                <p class="datetime">Posted on <b>{{resource[2]}}</b></p>
                            </div>
                        </div>
                    </div>
                {% endfor %} 
            </div>
        {% else %} 
        NOTHING TO SHOW 
        {% endif %} 
    {% endblock %}